Package: zfsnappy
Version: 2021.30
Section: server
Priority: optional
Architecture: all
Essential: no
Installed-size: 14
Maintainer: Volker Süß
Description: ZFS Snapshots erstellen und automatisiert wieder löschen
