Package: zfsnappy
Version: 2023.36.37.b1
Section: server
Priority: optional
Architecture: all
Essential: no
Installed-size: 14
Maintainer: Volker Süß
Description: ZFS Snapshots erstellen und automatisiert wieder löschen
